body {
  background: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .linechart {
    width:100%;
  
    svg {
      display:block;
      margin:auto;
    
      .x_axis, .y_axis {
        fill: white;
        stroke: white
      }
  
    }
  }
}
